.sidebar {
    width: 250px;
    background-color: #343a40;
    color: #fff;
    min-height: 100vh;
    padding: 20px;
}

.sidebar h2 {
    text-align: center;
    margin-bottom: 20px;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ul li {
    padding: 10px;
    margin-bottom: 10px;
    background-color: #34495e;
    text-align: center;
}

.sidebar ul li a {
    color: #ecf0f1;
    text-decoration: none;
}

.sidebar ul li a.active,
.sidebar ul li a:hover {
    background-color: #2980b9;
}