.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.navbar-brand {
  margin-left: 20px; /* Ajusta el margen según tus necesidades */
}

.main-content {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh; /* Ajusta la altura mínima según sea necesario */
}

.main-content input,
.main-content button {
  margin-bottom: 5px; /* Espacio entre los inputs y el botón */
}

.form-horizontal-group {
  display: flex;
  flex-direction: column; /* Cambio para alinear verticalmente */
  align-items: flex-start; /* Alinea los elementos al inicio */
  margin-bottom: 15px;
}

.form-horizontal-group label {
  white-space: nowrap; /* Evita que el texto del label se envuelva */
  margin-bottom: 5px; /* Espacio entre el label y el campo de entrada */
}

.button-right-align {
  display: flex;
  justify-content: flex-end; /* Alinea el botón a la izquierda */
}